<p style="color: green"><%= notice %></p>

<table>
  <tr>
    <td>
      <h1>ツイート </h1>
    </td>
    <td>
      <h2 id="sub"> ツイートと返信　メディア　いいね</h2>
    </td>
  </tr>
</table>
<div id="tweets">
  <% @tweets.each do |tweet| %>
    <%= render tweet %>
    <p>
      <%= link_to "詳細", tweet %>
    </p>
  <% end %>
</div>

<%= link_to "ツイートする", new_tweet_path %>
