/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h1{ 
    font-family: "Helvetica Neue" , Helvetica;
    text-decoration: underline;
    text-decoration-color: #1DA1F2;
    text-decoration-thickness: 6px;
    text-underline-offset: 7px;
}

#sub{
    color: #c0c0c0;
}

li{
    list-style: none;
    padding: 15px;
}

.wrapper {
    display: flex;
    padding: 10px;
    text-decoration-line: none;
}

.wrapper>div{
    width:50%;
}

.contents1 {
    flex: 1;
}

.contents2 {
    flex: 3;
}

.bottom {
    color: white;
    background-color: #1DA1F2;
    border-radius: 100vh;
    font-size: 120%;
    padding: 15px;
}

.home {
    color: black;
    padding: 15px;
}
